.price__wrapper {
  width: 100%;
  overflow: hidden; }

.price__table {
  width: 840px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(-130px);
  transform: translateX(-130px); }

@media screen and (min-device-width: 660px) {
  .price__table {
    width: 620px;
    -webkit-transform: none;
    transform: none; } }

.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-device-width: 1200px) {
  .price__table {
    width: 940px; } }
