.contacts__header {
	font-size: 24px;
  line-height: auto;
  font-weight: 300;
  text-align: center;
}
.contacts__list {
	list-style: none;
	 text-align: center;
	 padding: 0;
}
.contacts__title {
	
	line-height: auto;
  font-weight: 700;
   padding-bottom: 0px;
   margin-bottom: -10px;
}
.contacts__discription {
	
	font-size: 24px;
  line-height: auto;
  font-weight: 300;
  color: #d22856;
  margin: 0;
  padding: 0 20px;

}
.contacts__item {
	margin-bottom: 20px;

}
.contacts__map {
  background-color: #f2f2f2;
	clip-path: 
    polygon(
      0% 0%,     /* верхняя левая */
      0% 0%,     /* верхняя левая */
      50% 30%,    /* верхняя правая */
      100% 0%,   /* верхняя правая */
      100% 100%,  /* нижняя правая */
      50% 100%,  /* нижняя правая */
      50% 100%,   /* нижняя левая */
      0 100%      /* нижняя левая */
    );
	background-image: url(img/map.png);
	min-height: 170px;
	background-repeat: no-repeat;
  background-position: 50% 0,50% 0;
}
.contacts__map {
  position: relative;
}
.contacts__map::before {
  content: "";
  z-index: 10;
  position: absolute;
background-image: url(img/map-marker.svg.png);
background-repeat: no-repeat;
top: 50%;
  left: 50%;
width: 35px;
height: 35px;
}
.contacts__map {
  background-image: url(img/Layer_153.png);
  height: 377px;
    background-size: 100% auto,320px auto;
}

@media screen and (min-device-width: 1200px) {
.contacts__map {
  background-image: url(img/map_all.png);
  height: 505px;
    background-size: 100% auto,320px auto;
}
}