.price__wrapper {
    width: 100%;
    overflow: hidden; 
}
.price__table {
	width: 840px;
    box-sizing: border-box;
    transform: translateX(-130px);
}
@media screen and (min-device-width: 660px) {
.price__table {
 width: 620px;
 transform: none;
}
}
.price__list {
display: flex;
    flex-direction: column;
    align-items: center;
box-sizing: border-box;
}
@media screen and (min-device-width: 1200px) {
.price__table {
 width: 940px;
}
}